SUPABASE_URL=https://siwubbtikaauqcrlgtcv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpd3ViYnRpa2FhdXFjcmxndGN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEzMzA5MDgsImV4cCI6MjEwNjkwNjkwOH0.oBTCwEEQKpcRF2cGw5ELZnkOes4pFsaU8OjUDtf1gfQ

